<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.pdaodao.springwebplus.mapper.SysTeamMapper">

<!--    <select id="userTeams" resultType="com.github.pdaodao.springwebplus.entity.SysTeam">-->
<!--        select t.*, u.nickname as creator_nickname-->
<!--        from sys_team t-->
<!--        inner join sys_team_user  tu on t.id = tu.team_id-->
<!--        left join sys_user u on tu.user_id = u.id-->
<!--        <where>-->
<!--            t.is_deleted = 0 and tu.user_id = #{userId}-->
<!--            <if test="permissionNamespace != null and permissionNamespace !=''">-->
<!--                and EXISTS (select 1 from sys_team_user_permission p where p.team_user_id = tu.id and namespace=#{permissionNamespace} )-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->

    <select id="userTeams" resultMap="mybatis-plus_SysTeam">
        select t.*, tu.member_type
        from sys_team t
        inner join sys_team_user  tu on t.id = tu.team_id
        <where>
            t.is_deleted = 0 and tu.user_id = #{userId}
        </where>
    </select>

    <select id="teamUsers" resultMap="com.github.pdaodao.springwebplus.mapper.SysTeamUserMapper.mybatis-plus_SysTeamUser">
        select tu.*, u.nickname as userNickname, u.username
        from sys_team_user tu
        inner join sys_user u on tu.user_id = u.id
        <where>
            tu.team_id = #{teamId}
            <if test="q != null">
                and (tu.nickname like #{q} or tu.nickname like #{q})
            </if>
        </where>
    </select>

</mapper>